TermProject/Web References/HotelSVC/HotelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetHotels">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHotelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHotelsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRoomsByHotel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hotelId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRoomsByHotelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRoomsByHotelResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindRooms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="amenities" type="tns:Amenities" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Amenities">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Bar" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="BusinessFacilities" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="FreeBreakfast" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="FreeParking" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="FreeWifi" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Gym" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Pool" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Restaurant" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Spa" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="StarRating" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Bathtub" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="NonSmoking" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PetFriendly" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="NumOfTwinBeds" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumOfQueenBeds" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumOfKingBeds" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Futon" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindRoomsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindRoomsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindRoomsByHotel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hotelId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amenities" type="tns:Amenities" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindRoomsByHotelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindRoomsByHotelResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reserve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="roomId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="checkInDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="checkOutDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="travelSiteId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="travelSitePassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReserveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReserveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="travelSiteId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="travelSitePassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindCustomerResult" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateOfBirth" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZipCode" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHotelsSoapIn">
    <wsdl:part name="parameters" element="tns:GetHotels" />
  </wsdl:message>
  <wsdl:message name="GetHotelsSoapOut">
    <wsdl:part name="parameters" element="tns:GetHotelsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRoomsByHotelSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoomsByHotel" />
  </wsdl:message>
  <wsdl:message name="GetRoomsByHotelSoapOut">
    <wsdl:part name="parameters" element="tns:GetRoomsByHotelResponse" />
  </wsdl:message>
  <wsdl:message name="FindRoomsSoapIn">
    <wsdl:part name="parameters" element="tns:FindRooms" />
  </wsdl:message>
  <wsdl:message name="FindRoomsSoapOut">
    <wsdl:part name="parameters" element="tns:FindRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="FindRoomsByHotelSoapIn">
    <wsdl:part name="parameters" element="tns:FindRoomsByHotel" />
  </wsdl:message>
  <wsdl:message name="FindRoomsByHotelSoapOut">
    <wsdl:part name="parameters" element="tns:FindRoomsByHotelResponse" />
  </wsdl:message>
  <wsdl:message name="ReserveSoapIn">
    <wsdl:part name="parameters" element="tns:Reserve" />
  </wsdl:message>
  <wsdl:message name="ReserveSoapOut">
    <wsdl:part name="parameters" element="tns:ReserveResponse" />
  </wsdl:message>
  <wsdl:message name="FindCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:FindCustomer" />
  </wsdl:message>
  <wsdl:message name="FindCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:FindCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="HotelServiceSoap">
    <wsdl:operation name="GetHotels">
      <wsdl:input message="tns:GetHotelsSoapIn" />
      <wsdl:output message="tns:GetHotelsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoomsByHotel">
      <wsdl:input message="tns:GetRoomsByHotelSoapIn" />
      <wsdl:output message="tns:GetRoomsByHotelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindRooms">
      <wsdl:input message="tns:FindRoomsSoapIn" />
      <wsdl:output message="tns:FindRoomsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindRoomsByHotel">
      <wsdl:input message="tns:FindRoomsByHotelSoapIn" />
      <wsdl:output message="tns:FindRoomsByHotelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reserve">
      <wsdl:input message="tns:ReserveSoapIn" />
      <wsdl:output message="tns:ReserveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindCustomer">
      <wsdl:input message="tns:FindCustomerSoapIn" />
      <wsdl:output message="tns:FindCustomerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelServiceSoap" type="tns:HotelServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHotels">
      <soap:operation soapAction="http://tempuri.org/GetHotels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoomsByHotel">
      <soap:operation soapAction="http://tempuri.org/GetRoomsByHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRooms">
      <soap:operation soapAction="http://tempuri.org/FindRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRoomsByHotel">
      <soap:operation soapAction="http://tempuri.org/FindRoomsByHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reserve">
      <soap:operation soapAction="http://tempuri.org/Reserve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCustomer">
      <soap:operation soapAction="http://tempuri.org/FindCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HotelServiceSoap12" type="tns:HotelServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHotels">
      <soap12:operation soapAction="http://tempuri.org/GetHotels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoomsByHotel">
      <soap12:operation soapAction="http://tempuri.org/GetRoomsByHotel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRooms">
      <soap12:operation soapAction="http://tempuri.org/FindRooms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRoomsByHotel">
      <soap12:operation soapAction="http://tempuri.org/FindRoomsByHotel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reserve">
      <soap12:operation soapAction="http://tempuri.org/Reserve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCustomer">
      <soap12:operation soapAction="http://tempuri.org/FindCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelService">
    <wsdl:port name="HotelServiceSoap" binding="tns:HotelServiceSoap">
      <soap:address location="http://cis-iis2.temple.edu/Fall2016/CIS3342_tuf07579/TermProjectWS/HotelService.asmx" />
    </wsdl:port>
    <wsdl:port name="HotelServiceSoap12" binding="tns:HotelServiceSoap12">
      <soap12:address location="http://cis-iis2.temple.edu/Fall2016/CIS3342_tuf07579/TermProjectWS/HotelService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>